.env
node_modules/
ansible/filter_plugins/escape_quote.pyc
ansible/filter_plugins/escape_slashes.pyc
ansible/filter_plugins/__pycache__

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
