<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
  <title>Google Meet</title>
</head>

<body>
  <h1>Google Meet</h1>
  <p>
    Your Google Meet has not been initialized yet.
  </p>
  <p>
    Please click on the button below to authorize Canvas to access your APU
    Google Calendar. Canvas will create a virtual event in your Calendar and
    generate a Google Meet session for you to use in this Course.
  </p>
  <p>
    <a id="authLink" type="button" href="{{link}}"><button class="btn-block">Authorize Canvas to use Google API</button></a>
  </p>
</body>

</html>