<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Google Meet</title>
  <style type="text/css" media="screen">
    .btn-block {
      display: block;
      width: 100%;
      border: none;
      padding: 14px 28px;
      font-size: 1.5em;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <h1>Google Meet</h1>
  <a id="meetLink" type="button" target="_blank" href="{{link}}"><button class="btn-block">Click here to join the Google Meet</button></a>
</body>

</html>