.btn-block {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}
