{{#> layouts/base }}
  <p>
    Your Google Meet has not been initialized yet.
  </p>
  <p>
    Please click on the button below to authorize Canvas to access your APU
    Google Calendar. Canvas will create a virtual event in your Calendar and
    generate a Google Meet session for you to use in this Course.
  </p>
  <p>
    <a id="authLink" type="button" href="{{link}}"><button class="btn-block">Authorize Canvas to use Google API</button></a>
  </p>
{{/layouts/base}}
