<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
  <title>Google Meet</title>
</head>

<body>
  <h1>Google Meet</h1>
  <a id="meetLink" type="button" target="_blank" href="{{link}}"><button class="btn-block">Click here to join the Google Meet</button></a>
</body>

</html>
